h1 , h2, h3, span {
	margin: 0;
	color: white;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 1.4rem;
}

span {
	font-size: 6rem;
	font-weight: 600;
}

.container {
	max-width: 400px;
	height: 40vh;
	border: 0px solid black;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-rows: 20% 80%;
	padding: 25px 5px;
	background-color: #1E90FF;
}

.degrees {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	margin-left: 2rem;
}

img {
	width: 90px;
	margin-top: 10px;
	margin-bottom: 0px;
	/*filter: grayscale(100%);*/
}